*{
  box-sizing: border-box;
}
img{
  /*width: 100%;*/
}
.mainHeader{
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #B8BBBA;
  z-index: +1;
}
.headerLogo{
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 5vw;
  height: 40px;
}
.allHeaderLinks{
  text-align: right;
  margin-top: 22px;
  font-size: 1vh;
}
.headerLinks{
  font-family: 'Assistant', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 1s ease;
}
.headerLinks:hover{
  color: white;
  text-decoration:
}
#landscape{
  margin-top:80px;
  height: 600px;
  background-image: url('/img/backgroundPhoto.png');
  background-size: cover;
  /*position: fixed;*/
  width: 100%;
  z-index: -1;
}
.landscapeInfo{
  font-family: 'Assistant', sans-serif;
  font-size: 47px;
  padding-top: 30vh;
  margin-left: 7vw;
  z-index: 1;
}
