
body{
  padding: 0;
  margin: 0;
  /*width: 100%;*/
  overflow-x: hidden
  // overflow-y: hidden;
}
video{
  overflow-y: visible;
  position: fixed;

}
source{
  overflow-y: visible;
  position: fixed;
  // margin-bottom: 500px;
}
*{
  box-sizing: border-box;
}
.mainHeader{
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid white;
  z-index: 2;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}
.headerLogo{
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 5vw;
  height: 40px;
  /*width: 15vw;*/
}
.allHeaderLinks{
  text-align: right;
  margin-top: 25px;
  /*font-size: 1vh;*/
  margin-right: 5vw;
  height: 40px;
}
.burgerLink{
  text-align: right;
  margin-top: 14px;
  /*font-size: 1vh;*/
  margin-right: 14px;
  margin-bottom: 20px;
  height: 40px;
  font-size: 25px;
}
.headerLinks>a{
  color: #B8BBBA;
  text-decoration: none;
  transition: .8s ease;
}
.headerLinks:hover{
  color: white;
}
.headerLinks{
  font-family: 'Raleway', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  word-wrap: none;
  /*margin-left: 1px;
  margin-right: 1px;*/
  transition: .4s ease;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.headerLinks2{
  font-family: 'Raleway', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .8s ease;
  border-bottom: 1px solid black;
}
.headerLinks>a:hover{
  border-bottom: 1px solid white;
  color: white;
}
.menuEdit{
  padding-bottom: 3px;
}
#landscape{
  margin-top: 70px;
  height: 600px;
  background-image: url('backgroundPhoto.png');
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: -1;
}
.landscapeInfo{
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  padding-top: 25vh;
  margin-left: 6vw;
  z-index: 1;
  color: black;
  margin-bottom: 0;
}
.landscapeSubtext{
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  margin-left: 6vw;
  z-index: 1;
  color: black;
}
.homeBody{
  /*margin-top: 670px;*/
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #857455;
  text-align: center;
  margin-bottom: 0;
}
.demoVid{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  /*height: 360px;
  width: 100%;*/
}
.demo{
  height: 360px;
  width: 100%;
}
.aboutSection{
  margin-top: 4vh;
}
.videoText{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 15px;
  margin-bottom: 4vh;
}
.videoTitle{
  font-family: 'Raleway', sans-serif;
  color: #857455;
  margin-top: 0px;
}
.topVideo{
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.topVideoFilms{
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.bottomVideo{
  margin-bottom: 15vh;
  margin-top: 15vh;
}
.bottomVideoWedding{
  margin-bottom: 15vh;
  margin-top: 15vh;
}
.demoBody{
  border-bottom: 2px solid #857455;
  /*height: 400px;*/
}
.weddingText{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 1.5vw;
}
.weddingSection{
  margin-top: 16vh;
  margin-bottom: 16vh;
  padding-left: 3vw;
  padding-right: 3vw;
}
.weddingSectionFilms{
  margin-top: 16vh;
  margin-bottom: 16vh;
  padding-top: 7vh;
  padding-left: 3vw;
  padding-right: 3vw;
}
.weddingSamples{
  margin-top: 2vh;
}
#weddingVid1{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
#weddingVid2{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
#weddingVid3{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
.noDisplay{
  display: none;
}
.smallPic{
  cursor: pointer;
  transition: .2s ease;
}
.smallPic:hover{
  border: 1px solid #857455;
}
.videoTitle2{
  font-family: 'Raleway', sans-serif;
  color: #857455;
  text-align: left;
}
.weddingText2{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5vw;
  text-align: left;
}
.weddingBackground{
  background-color: white;
  margin-right: 0;
  margin-left: 0;
}
.awardLogo1{
  margin-top: 10px;
  align-items: center;
  padding: 0;
  border-right: 2px solid #B8BBBA;
  /*background: black;*/
}
.blackBackground{
  background-color: black;
}
.awardFooter{
  width: 100%;
  background-color: black;
  position: static;
  margin: 0;
  padding: 0;
}
.mainFooter{
  background-color: black;
  font-size: 30px;
  letter-spacing: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: 0;
  /*align-content: center;*/
}
.footerContacts{
  color: #B8BBBA;
  align-content: center;
}
.copyright{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  letter-spacing: normal;
  color: white;
}
.packagesMain {
  font-family: 'Raleway', sans-serif;
  margin-top: 80px;
  color: black;
  position: relative;
  z-index: 1;
  visibility: visible;
  height: 700px;
}
.packagesMainVendors{
  font-family: 'Raleway', sans-serif;
  margin-top: 80px;
  color: black;
  position: relative;
  z-index: 1;
  visibility: visible;
}
.noFlow{
  overflow: hidden;
}
.backgroundPackagesVid{
  //  height: 700px;
  //  width: 100%;
  //  min-height: 900px;
  overflow-y: hidden;
  // max-height: 720px;
}
.belowMain{
  font-family: 'Raleway', sans-serif;
}
.belowMain{
  z-index: 2;
}
.invisible{
  visibility: hidden;
}
#backgroundPackagesVid{
  position: relative;
}
.backgroundPackagesVid{
  position: absolute;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("packagesStill.jpg");
  background-size: 100%;
  opacity: .5;
  width: 1500px;
  height: 843.75px;
  max-height: 720px;
  border-bottom: 2px solid black;
  overflow-y: hidden;
}
.videoWrapperPackages {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  transition: 1s ease;
}
.videoWrapperPackages iframe {
	position: absolute;
	top: 0;
	left: 0;
  bottom: 0;
	width: 100%;
	height: 100%;
}
.packagesMain > h1 {
  font-size: 50px;
  // font-weight: bold;
}
.packagesWedding{
  padding-top: 50px;
}
.packageTitle{
  font-size: 40px;
}
.packagesArea{
  border-top: 2px solid black;
  margin-right: 2vw;
  margin-left: 2vw;
  align-self: center;
}
.middleColumn{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.packageText{
  font-size:1.5vw;
  padding-left: 35px;
  padding-right: 35px;
}
.basicPrice{
  font-size: 2.7vw;
  margin-right:28px;
  // font-weight: bold;
}
.disclaimer1{
  font-size: 20px;
  // font-weight: bold;
  margin-bottom: 0px;
  margin-left: 15%;
  margin-right: 15%;
}
.discountText{
  font-size: 22px;
}
.extraText{
  font-size: 20px;
}
.packageCell{
  height: 400px;
}
.lowerSection{
  z-index: 10;
  font-family: 'Raleway', sans-serif;
}
.extraOffers{
  font-family: 'Raleway', sans-serif;
  color: white;
  /*background-color: transparent;*/
  opacity: 1;
  border-bottom: 1px solid black;
}
.boldText{
  font-weight: bold;
}
.horBreak{
  color: black;
}
.linkLogo{
  align-items: center;
  align-content: center;
  align-self: center;
  padding-left: 10px;
}
.disclaimer2{
  font-size: 10;
  font-style: italic;
}
.vendorArea{
  font-family: 'Raleway', sans-serif;
  color: #857455;
  margin-top: 50px;
  margin-bottom: 0;
}
.vendorTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  // padding-top: 110px;
  // font-weight: bold;
}
.packageScreenTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  /*padding-top: 110px;*/
  // font-weight: bold;
}
.vendorIntro{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 15px;
}
.vendorList{
  line-height: 30px;
  font-size: 30px;
}
.vendorSub{
  font-size: 20px;
}
li>a{
  text-decoration: underline;
  color: black;
}
li>a:hover{
  color: black;
}
.vendorBackground{
  background-image: url('backgroundColor.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #857455;
}
.awardImg{
  height: 125px;
}
.customMenu{
  color: black;
  background-color: black;
  line-height: 50px;
  padding-top: 22px;
  padding-bottom: 0;
  width: 80%;
  // text-decoration:line-through;
}
.burgerStyling{
  background-color: black;
  /*border: 1px solid white;*/
  height: 50px;
  width: 50px;
  color: white;
  font-size: 25px;
}
.burgerStyling:hover{
  color: white;
}
.mobilePrice{
  padding-right: 20px;
  font-size: 30px;
}
.middleMobilePrice{
  padding-right: 20px;
  font-size: 30px;
  padding-bottom: 25px;
}
.priceRow{
  width: 100%;
  margin: 0;
}
.contactLogo{
  margin-right: 5vw;
  height: 500px;
  // width: 100%;
}
.contactMain{
  font-family: 'Raleway', sans-serif;
  margin-top: 80px;
}
.contactContent{
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 0;
  padding-left: 0;
}
.logoSide{
  border-right: 2px solid black;
  text-align: right;
  padding: 0;
}
.contactName{
  font-weight: bold;
}
.vendorLink>a{
  text-decoration: none;
}
.contactInfo{
  text-align: left;
  // margin-left: 5vw;
  font-size: 20px;
  height: 200px;
  // border-bottom: 2px solid black;
  margin-top: 50px;
}
#borderBottom{
  border-bottom: 2px solid black;
  right: 15%;
  left: 10%;
  position: absolute;
}
.contactInfo2{
  text-align: left;
  font-size: 20px;
  height: 250px;
  padding-top: 100px;
}
.contactList{
  margin-left: 5vw;
}
.flackLogoRight{
  margin-left: 5vw;
  width: 32vw;
}
.logoSide2{
  padding-right: 0;
  padding-left: 0;
}
.contactList>a{
  text-decoration: none;
}

/*Begin Mobile Views*/
@media (min-width: 1px) and (max-width: 320px){
  .bg{
    height: 15000px;
    background: url('');
    border: none;
  }
  .packagesMain{
    height: 1900px;
  }
}
@media (min-width: 321px) and (max-width: 750px){
  .bg{
    height: 15000px;
    background: url('');
    border: none;
  }
  .packagesMain{
    height: 1600px;
  }
}
@media (min-width: 1500){
  body{
    padding-left: 7%;
    padding-right: 7%;
  }
  // .mainHeader{
  //   padding-left: 7%;
  //   padding-right: 7%;
  // }
}
@media (min-width: 768px) and (max-width: 1024px){
.packageTitle{
  font-size: 30px;
}
}
@media (min-width: 561px) and (max-width: 768px){
  .weddingSectionFilms{
    margin-top: 0;
    margin-bottom: 5vh;
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 849px){
  .weddingSpecific{
    margin-top: 11vh;
  }
}
@media (min-width: 850px) and (max-width: 992px){
  .weddingSpecific{
    margin-top: 20vh;
  }
}
@media (min-width: 450px){
  .customMenu{
    color: black;
    background-color: black;
    line-height: 50px;
    padding-top: 22px;
    padding-bottom: 0;
    width: 62%;
  }
}
@media (max-width: 767px){
  .packageCellMiddle{
    padding-top: 10px;
    padding-bottom: 360px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: none;
    border-left: none;
  }
}


@media (max-width: 962px) {
  .headerLinks {
    font-size: 13px;
  }
  .headerLinks2 {
    font-size: 13px;
  }
  .allHeaderLinks{
    margin-right: 3vw;
  }
}
@media (max-width: 991px) {
  .topVideo{
    margin-bottom: 0;
  }
  .topVideoFilms{
    margin-bottom: 0;
  }
}
@media (min-width: 750px) and (max-width: 1024px){
  .bg{
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .bg{
      background-position: center;
      background-repeat: no-repeat;
      // height: 100%;
      width: 100%;
      background-size: cover;
  }
  .videoW{
    display: none;
  }
  #backgroundPackagesVid{
    display: none;
  }
}
@media (max-width: 807px) {
  .mobileMenu{
    padding-right: 0;
    line-height: 40px;
  }
  .allHeaderLinks {
    display: none;
  }
  .landscapeInfo{
    font-size: 5vw;
  }
  .headerLinks{
    background-color: white;
    border-bottom: 2px solid #857455;
    border-left: 2px solid #857455;
    // border-right: 2px solid #857455;
    font-size: 5vw;
    padding-left: 4px;
    color: white;
    height: 70px;
    padding-top: 15px;
    // z-index: 10;
  }
}
@media (min-width: 808px){
  .burgerLink{
    display: none;
  }
}
@media (max-width: 560px) {
  .weddingSectionFilms{
    margin-top: 0;
    margin-bottom: 5vh;
  }
  .bottomVideo{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .bottomVideoWedding{
    margin-top: 7vh;
    margin-bottom: 5vh;
  }
  .aboutSection{
    margin-top: 0;
  }
  .topVideo{
    margin-top: 5vh;
  }
  .topVideoFilms{
    margin-top: 10vh;
  }
  .demo{
    height: 90%;
    width: 100%;
  }
  #landscape{
    height: 300px;
  }
  .headerLogo{
    height: 30px;
    margin-top: 25px;
    margin-left: 2vw;
  }
  .vendorIntro{
    margin-left: 15%;
    margin-right: 15%;
  }
  .vendorList{
    line-height: 25px;
    font-size: 20px;
  }
  .vendorSub{
    font-size: 14px;
  }
  .vendorTitle{
    font-size: 40px;
  }
  .packagesMain > h1 {
    font-size: 40px;
    /*font-weight: bold;*/
  }
  .packageCell{
    height: 450px;
  }
}
@media (max-width: 321px){
  .packageCell{
    height: 500px;
  }
}
@media (max-width: 767px) {

.contactLogo{
  margin-right: 0;
}
.contactContent{
  padding-top: 25px;
  text-align: center;
  padding-bottom: 0;
}
.logoSide{
  border-right: none;
  text-align: center;
}
.contactInfo{
  text-align: center;
}
.contactInfo2{
  text-align: center;
  padding-top: 15px;
}
.flackLogoRight{
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin-right: 0;
  margin-left: 0;
}
#borderBottom{
  display: none;
}
.contactList{
  margin-left: 4px;
}
.awardLogo1{
  border-right: none;
}
.packageText{
  font-size: 20px;
}
.basicPrice{
  display: none;
}
}
@media (min-width: 768px){
  .mobilePrice{
    display: none;
  }
  .middleMobilePrice{
    display: none;
  }
}
@media (min-width: 561px) and (max-width: 768px){
  .topVideoFilms{
    margin-top: 5vh;
  }
}
@media (max-width: 768px){
  .weddingText{
    font-size: 15px;
  }
  .weddingText2{
    font-size: 15px;
  }
  .weddingSection{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .topVideo{
    margin-top: 5vh;
  }
  // .bottomVideo{
  //   margin-bottom: 5vh;
  //   margin-top: 5vh;
  // }
  // .bottomVideoWedding{
  //   margin-bottom: 5vh;
  //   margin-top: 15vh;
  // }
}
@media (min-width: 561px) and (max-width: 767px){
  .bottomVideo{
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  .bottomVideoWedding{
    margin-bottom: 5vh;
    margin-top: 15vh;
  }
}
/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /* Basic styles for an animated element */
  .scene_element{
    -webkit-animation-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
  }

  /** An element that fades in */
  .scene_element--fadein {
    -webkit-animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    -webkit-animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    -webkit-animation-name: fadeInRight;
  }
  &.is-exiting {
      .scene_element {
        -webkit-animation-direction: alternate-reverse;
        animation-direction: alternate-reverse;
      }
  }
}
