*{
  box-sizing: border-box;
}
img{
  /*width: 100%;*/
}
.mainHeader{
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #857455;
  z-index: 1;
}
.headerLogo{
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 5vw;
  height: 40px;
}
.allHeaderLinks{
  text-align: right;
  margin-top: 25px;
  font-size: 1vh;
  margin-right: 5vw;
}
.headerLinks>a{
  color: #B8BBBA;
  text-decoration: none;
  transition: .8s ease;
}
.headerLinks>a:hover{
  color: white;
}
.headerLinks{
  font-family: 'Raleway', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .8s ease;
  border-bottom: 1px solid black;
}
.headerLinks:hover{
  border-bottom: 1px solid white;
}
#landscape{
  margin-top:80px;
  height: 600px;
  background-image: url('backgroundPhoto.png');
  background-size: cover;
  /*position: fixed;*/
  width: 100%;
  z-index: -1;
}
.landscapeInfo{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding-top: 30vh;
  margin-left: 7vw;
  z-index: 1;
  color: black;
  margin-bottom: 0;
}
.landscapeSubtext{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin-left: 7vw;
  z-index: 1;
  color: black;
}
.homeBody{
  /*margin-top: 670px;*/
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #857455;
  text-align: center;
}
.demoVid{
  margin-left: 20px;
  margin-right: 20px;

}
