/*body{
  background-image: url('backgroundPhoto.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}*/
body{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
img{
  /*width: 100%;*/
}
.mainHeader{
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #857455;
  z-index: 1;
}
.headerLogo{
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 5vw;
  height: 40px;
}
.allHeaderLinks{
  text-align: right;
  margin-top: 25px;
  font-size: 1vh;
  margin-right: 5vw;
}
.headerLinks>a{
  color: #B8BBBA;
  text-decoration: none;
  transition: .8s ease;
}
.headerLinks>a:hover{
  color: white;
}
.headerLinks{
  font-family: 'Raleway', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .8s ease;
  border-bottom: 1px solid black;
}
.headerLinks:hover{
  border-bottom: 1px solid white;
}
#landscape{
  margin-top:80px;
  height: 600px;
  background-image: url('backgroundPhoto.png');
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  /*position: fixed;*/
  width: 100%;
  z-index: -1;
}
.landscapeInfo{
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  padding-top: 30vh;
  margin-left: 7vw;
  z-index: 1;
  color: black;
  margin-bottom: 0;
}
.landscapeSubtext{
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  margin-left: 7vw;
  z-index: 1;
  color: black;
}
.homeBody{
  /*margin-top: 670px;*/
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #857455;
  text-align: center;
  margin-bottom: 0;
}
.demoVid{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  /*margin-bottom: 0;*/

}
.aboutSection{
  margin-top: 5vh;
}
.videoText{
  font-family: 'Raleway', sans-serif;
  color: white;
}
.videoTitle{
  font-family: 'Raleway', sans-serif;
  color: #857455;
}
.demoBody{
  border-bottom: 2px solid #857455;
}
.weddingText{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 18px;
}
.weddingSection{
  margin-top: 4vh;
  padding-left: 3vw;
  padding-right: 3vw;
}
#weddingVid1{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
#weddingVid2{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
#weddingVid3{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
.noDisplay{
  display: none;
}
.smallPic{
  cursor: pointer;
  transition: .2s ease;
}
.smallPic:hover{
  border: 1px solid #857455;
}
.videoTitle2{
  font-family: 'Raleway', sans-serif;
  color: #857455;
  text-align: left;
}
.weddingText2{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  text-align: left;
}
.weddingBackground{
  background-color: white;
  margin-right: 0;
  margin-left: 0;
}
.awardLogo1{
  align-items: center;
  padding: 0;
}
.awardLogo2{
  margin-top: 7vh;
  align-items: center;
  padding: 0;
}
.awardFooter{
  background-color: #B8BBBA;
  position: static;
}
.mainFooter{
  background-color: black;
  font-size: 30px;
  letter-spacing: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  align-content: center;
}
.footerContacts{
  color: #B8BBBA;
  align-items: center;
  /*font-size: 50px;
  height: 50px;
  width: 50px;*/
}
.copyright{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  letter-spacing: normal;
  color: white;
}
