/*body{
  background-image: url('backgroundPhoto.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}*/
body{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
img{
  /*width: 100%;*/
}
.mainHeader{
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #857455;
  z-index: 2;
}
.headerLogo{
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 5vw;
  height: 40px;
  /*width: 15vw;*/
}
.allHeaderLinks{
  text-align: right;
  margin-top: 25px;
  /*font-size: 1vh;*/
  margin-right: 5vw;
  height: 40px;
}
.headerLinks>a{
  color: #B8BBBA;
  text-decoration: none;
  transition: .8s ease;
}
.headerLinks:hover{
  color: white;
}
.headerLinks{
  font-family: 'Raleway', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  word-wrap: none;
  margin-left: 1px;
  margin-right: 1px;
  transition: .4s ease;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.headerLinks2{
  font-family: 'Raleway', sans-serif;
  color: #B8BBBA;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .8s ease;
  border-bottom: 1px solid black;
}
.headerLinks:hover{
  border-bottom: 1px solid white;
}
#landscape{
  margin-top: 70px;
  height: 600px;
  background-image: url('backgroundPhoto.png');
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: -1;
}
.landscapeInfo{
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  padding-top: 25vh;
  margin-left: 6vw;
  z-index: 1;
  color: black;
  margin-bottom: 0;
}
.landscapeSubtext{
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  margin-left: 6vw;
  z-index: 1;
  color: black;
}
.homeBody{
  /*margin-top: 670px;*/
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #857455;
  text-align: center;
  margin-bottom: 0;
}
.demoVid{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  /*height: 360px;
  width: 100%;*/
}
.demo{
  height: 360px;
  width: 100%;
}
.aboutSection{
  margin-top: 5vh;
}
.videoText{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
}
.videoTitle{
  font-family: 'Raleway', sans-serif;
  color: #857455;
}
.demoBody{
  border-bottom: 2px solid #857455;
  /*height: 400px;*/
}
.weddingText{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 18px;
}
.weddingSection{
  margin-top: 4vh;
  padding-left: 3vw;
  padding-right: 3vw;
}
#weddingVid1{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
#weddingVid2{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
#weddingVid3{
  margin-left: 20px;
  margin-right: 20px;
  /*width: 100%;*/
}
.noDisplay{
  display: none;
}
.smallPic{
  cursor: pointer;
  transition: .2s ease;
}
.smallPic:hover{
  border: 1px solid #857455;
}
.videoTitle2{
  font-family: 'Raleway', sans-serif;
  color: #857455;
  text-align: left;
}
.weddingText2{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  text-align: left;
}
.weddingBackground{
  background-color: white;
  margin-right: 0;
  margin-left: 0;
}
.awardLogo1{
  margin-top: 10px;
  align-items: center;
  padding: 0;
  border-right: 2px solid #857455;
}
.awardLogo2{
  margin-top: 7vh;
  align-items: center;
  padding: 0;
}
.awardFooter{
  background-color: black;
  position: static;
}
.mainFooter{
  background-color: black;
  font-size: 30px;
  letter-spacing: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  /*align-content: center;*/
}
.footerContacts{
  color: #B8BBBA;
  align-content: center;
}
.copyright{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  letter-spacing: normal;
  color: white;
}
.packagesMain {
  font-family: 'Raleway', sans-serif;
  margin-top: 80px;
  padding-top: 50px;
  position: relative;
  z-index: 1;
  /*height: 900px;*/
  font-weight: bold;
}

.packagesMain .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: url('packagesBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .5;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.bg{
  z-index: -1;
}
.packagesMain > h1 {
  font-size: 50px;
  font-weight: bold;
}
.packageTitle{
  font-size: 40px;
}
.packagesArea{
  border-top: 2px solid #857455;
  margin-right: 2vw;
  margin-left: 2vw;
  align-self: center;
}
.middleColumn{
  border-left: 2px solid #857455;
  border-right: 2px solid #857455;
}
.packageText{
  font-size:1.5vw;
  padding-left: 35px;
  padding-right: 35px;
}
.basicPrice{
  font-size: 2.7vw;
  margin-right:28px;
  font-weight: bold;
}
.disclaimer1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}
.discountText{
  font-size: 22px;
}
.extraText{
  font-size: 20px;
}
.packageCell{
  height: 400px;
}
.extraOffers{
  font-family: 'Raleway', sans-serif;
  color: white;
  /*background-color: transparent;*/
  opacity: 1;
  border-bottom: 1px solid black;
}
.boldText{
  font-weight: bold;
}
.horBreak{
  color: black;
}
.linkLogo{
  align-items: center;
  align-content: center;
  align-self: center;
}
.disclaimer2{
  font-size: 10;
  font-style: italic;
}
.vendorArea{
  font-family: 'Raleway', sans-serif;
  color: #857455;
  margin-top: 50px;
  margin-bottom: 0;
}
.vendorTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding-top: 110px;
  font-weight: bold;
}
.vendorIntro{
  margin-left: 30%;
  margin-right: 30%;
  font-size: 15px;
}
.vendorList{
  line-height: 75px;
  font-size: 2vw;
}
li>a{
  text-decoration: underline;
  color: black;
}
li>a:hover{
  color: black;
}
.vendorBackground{
  background-image: url('backgroundColor.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #857455;
}
.awardImg{
  height: 125px;
}
.weddingVidArea{
}
/*Begin Mobile Views*/
@media (max-width: 930px) {
  .headerLinks {
    font-size: 13px;
  }
  .headerLinks2 {
    font-size: 13px;
  }
}
@media (max-width: 790px) {
  .headerLinks {
    visibility: hidden;
  }
  .headerLinks2 {
    visibility: hidden;
  }
  .landscapeInfo{
    font-size: 5vw;
  }
}
@media (max-width: 560px) {
  .demo{
    height: 90%;
    width: 100%;
  }
}
